In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import seaborn as sns

Load dataset from csv file

In [27]:
filename = "C:/Users/willi/Documents/William/Programming Tests/Python test/Dicoding ML Terapan/sensor_classification/dataset/sensor.csv"
df = pd.read_csv(filename)
df.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220320 entries, 0 to 220319
Data columns (total 55 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      220320 non-null  int64
 1   timestamp       220320 non-null  object
 2   sensor_00       210112 non-null  float64
 3   sensor_01       219951 non-null  float64
 4   sensor_02       220301 non-null  float64
 5   sensor_03       220301 non-null  float64
 6   sensor_04       220301 non-null  float64
 7   sensor_05       220301 non-null  float64
 8   sensor_06       215522 non-null  float64
 9   sensor_07       214869 non-null  float64
 10  sensor_08       215213 non-null  float64
 11  sensor_09       215725 non-null  float64
 12  sensor_10       220301 non-null  float64
 13  sensor_11       220301 non-null  float64
 14  sensor_12       220301 non-null  float64
 15  sensor_13       220301 non-null  float64
 16  sensor_14       220299 non-null  float64
 17  sensor_15       0 non-null       float64
 18  sensor_16       220289 non-null  float64
 19  sensor_17       220274 non-null  float64
 20  sensor_18       220274 non-null  float64
 21  sensor_19       220304 non-null  float64
 22  sensor_20       220304 non-null  float64
 23  sensor_21       220304 non-null  float64
 24  sensor_22       220279 non-null  float64
 25  sensor_23       220304 non-null  float64
 26  sensor_24       220304 non-null  float64
 27  sensor_25       220284 non-null  float64
 28  sensor_26       220300 non-null  float64
 29  sensor_27       220304 non-null  float64
 30  sensor_28       220304 non-null  float64
 31  sensor_29       220248 non-null  float64
 32  sensor_30       220059 non-null  float64
 33  sensor_31       220304 non-null  float64
 34  sensor_32       220252 non-null  float64
 35  sensor_33       220304 non-null  float64
 36  sensor_34       220304 non-null  float64
 37  sensor_35       220304 non-null  float64
 38  sensor_36       220304 non-null  float64
 39  sensor_37       220304 non-null  float64
 40  sensor_38       220293 non-null  float64
 41  sensor_39       220293 non-null  float64
 42  sensor_40       220293 non-null  float64
 43  sensor_41       220293 non-null  float64
 44  sensor_42       220293 non-null  float64
 45  sensor_43       220293 non-null  float64
 46  sensor_44       220293 non-null  float64
 47  sensor_45       220293 non-null  float64
 48  sensor_46       220293 non-null  float64
 49  sensor_47       220293 non-null  float64
 50  sensor_48       220293 non-null  float64
 51  sensor_49       220293 non-null  float64
 52  sensor_50       143303 non-null  float64
 53  sensor_51       204937 non-null  float64
 54  machine_status  220320 non-null  object
dtypes: float64(52), int64(1), object(2)
memory usage: 92.5+ MB

In [29]:
df.describe()

,Unnamed: 0,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,...,sensor_42,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51
count,220320.000000,210112.000000,219951.000000,220301.000000,220301.000000,220301.000000,220301.000000,215522.000000,214869.000000,215213.000000,...,220293.000000,220293.000000,220293.000000,220293.000000,220293.000000,220293.000000,220293.000000,220293.000000,143303.000000,204937.000000
mean,110159.500000,2.372221,47.591611,50.867392,43.752481,590.673936,73.396414,13.501537,15.843152,15.200721,...,35.453455,43.879591,42.656877,43.094984,48.018585,44.340903,150.889044,57.119968,183.049260,202.699667
std,63601.049991,0.412227,3.296666,3.666820,2.418887,144.023912,17.298247,2.163736,2.201155,2.037390,...,10.259521,11.044404,11.576355,12.837520,15.641284,10.442437,82.244957,19.143598,65.258650,109.588607
min,0.000000,0.000000,0.000000,33.159720,31.640620,2.798032,0.000000,0.014468,0.000000,0.028935,...,22.135416,24.479166,25.752316,26.331018,26.331018,27.199070,26.331018,26.620370,27.488426,27.777779
25%,55079.750000,2.438831,46.310760,50.390620,42.838539,626.620400,69.976260,13.346350,15.907120,15.183740,...,32.812500,39.583330,36.747684,36.747684,40.509258,39.062500,83.912030,47.743060,167.534700,179.108800
50%,110159.500000,2.456539,48.133678,51.649300,44.227428,632.638916,75.576790,13.642940,16.167530,15.494790,...,35.156250,42.968750,40.509260,40.219910,44.849540,42.534720,138.020800,52.662040,193.865700,197.338000
75%,165239.250000,2.499826,49.479160,52.777770,45.312500,637.615723,80.912150,14.539930,16.427950,15.697340,...,36.979164,46.614580,45.138890,44.849540,51.215280,46.585650,208.333300,60.763890,219.907400,216.724500
max,220319.000000,2.549016,56.727430,56.032990,48.220490,800.000000,99.999880,22.251160,23.596640,24.348960,...,374.218800,408.593700,1000.000000,320.312500,370.370400,303.530100,561.632000,464.409700,1000.000000,1000.000000

Dapat dilihat pada beberapa sensor terdapat nilai minimal 0 dan NaN yang menandakan adanya missing values, selain itu kita juga perlu mendrop kolom yang tidak relevan untuk train model seperti timestamp dan kolom pertama karena kita hanya mengklasifikasikan bukan untuk analisis time series.

Pada code cell selanjutnya akan dilakukan pengedropan kolom yang tidak relevan

In [30]:
df.drop(columns=["Unnamed: 0", "timestamp"], inplace=True)
df.head()

,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,15.05353,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,15.05353,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,15.61777,15.01013,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,15.69734,15.08247,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,15.69734,15.08247,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

Drop sensor_50 dan sensor_15 karena banyak missing valuesnya

In [31]:
df.drop(columns=["sensor_15", "sensor_50"], inplace=True)
df.head()

,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09,...,sensor_42,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_51,machine_status
0,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,15.05353,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,201.3889,NORMAL
1,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,15.05353,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,201.3889,NORMAL
2,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,15.61777,15.01013,...,31.770830,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,203.7037,NORMAL
3,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,15.69734,15.08247,...,31.510420,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,203.1250,NORMAL
4,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,15.69734,15.08247,...,31.510420,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,201.3889,NORMAL

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220320 entries, 0 to 220319
Data columns (total 51 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   sensor_00       210112 non-null  float64
 1   sensor_01       219951 non-null  float64
 2   sensor_02       220301 non-null  float64
 3   sensor_03       220301 non-null  float64
 4   sensor_04       220301 non-null  float64
 5   sensor_05       220301 non-null  float64
 6   sensor_06       215522 non-null  float64
 7   sensor_07       214869 non-null  float64
 8   sensor_08       215213 non-null  float64
 9   sensor_09       215725 non-null  float64
 10  sensor_10       220301 non-null  float64
 11  sensor_11       220301 non-null  float64
 12  sensor_12       220301 non-null  float64
 13  sensor_13       220301 non-null  float64
 14  sensor_14       220299 non-null  float64
 15  sensor_16       220289 non-null  float64
 16  sensor_17       220274 non-null  float64
 17  sensor_18       220274 non-null  float64
 18  sensor_19       220304 non-null  float64
 19  sensor_20       220304 non-null  float64
 20  sensor_21       220304 non-null  float64
 21  sensor_22       220279 non-null  float64
 22  sensor_23       220304 non-null  float64
 23  sensor_24       220304 non-null  float64
 24  sensor_25       220284 non-null  float64
 25  sensor_26       220300 non-null  float64
 26  sensor_27       220304 non-null  float64
 27  sensor_28       220304 non-null  float64
 28  sensor_29       220248 non-null  float64
 29  sensor_30       220059 non-null  float64
 30  sensor_31       220304 non-null  float64
 31  sensor_32       220252 non-null  float64
 32  sensor_33       220304 non-null  float64
 33  sensor_34       220304 non-null  float64
 34  sensor_35       220304 non-null  float64
 35  sensor_36       220304 non-null  float64
 36  sensor_37       220304 non-null  float64
 37  sensor_38       220293 non-null  float64
 38  sensor_39       220293 non-null  float64
 39  sensor_40       220293 non-null  float64
 40  sensor_41       220293 non-null  float64
 41  sensor_42       220293 non-null  float64
 42  sensor_43       220293 non-null  float64
 43  sensor_44       220293 non-null  float64
 44  sensor_45       220293 non-null  float64
 45  sensor_46       220293 non-null  float64
 46  sensor_47       220293 non-null  float64
 47  sensor_48       220293 non-null  float64
 48  sensor_49       220293 non-null  float64
 49  sensor_51       204937 non-null  float64
 50  machine_status  220320 non-null  object
dtypes: float64(50), object(1)
memory usage: 85.7+ MB

Check banyaknya missing values di setiap column

In [33]:
df.isnull().sum()

sensor_00         10208
sensor_01           369
sensor_02            19
sensor_03            19
sensor_04            19
sensor_05            19
sensor_06          4798
sensor_07          5451
sensor_08          5107
sensor_09          4595
sensor_10            19
sensor_11            19
sensor_12            19
sensor_13            19
sensor_14            21
sensor_16            31
sensor_17            46
sensor_18            46
sensor_19            16
sensor_20            16
sensor_21            16
sensor_22            41
sensor_23            16
sensor_24            16
sensor_25            36
sensor_26            20
sensor_27            16
sensor_28            16
sensor_29            72
sensor_30           261
sensor_31            16
sensor_32            68
sensor_33            16
sensor_34            16
sensor_35            16
sensor_36            16
sensor_37            16
sensor_38            27
sensor_39            27
sensor_40            27
sensor_41            27
sensor_42            27
sensor_43            27
sensor_44            27
sensor_45            27
sensor_46            27
sensor_47            27
sensor_48            27
sensor_49            27
sensor_51         15383
machine_status        0
dtype: int64

In [34]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
missing_percentage

sensor_00         4.633261
sensor_01         0.167484
sensor_02         0.008624
sensor_03         0.008624
sensor_04         0.008624
sensor_05         0.008624
sensor_06         2.177741
sensor_07         2.474129
sensor_08         2.317992
sensor_09         2.085603
sensor_10         0.008624
sensor_11         0.008624
sensor_12         0.008624
sensor_13         0.008624
sensor_14         0.009532
sensor_16         0.014070
sensor_17         0.020879
sensor_18         0.020879
sensor_19         0.007262
sensor_20         0.007262
sensor_21         0.007262
sensor_22         0.018609
sensor_23         0.007262
sensor_24         0.007262
sensor_25         0.016340
sensor_26         0.009078
sensor_27         0.007262
sensor_28         0.007262
sensor_29         0.032680
sensor_30         0.118464
sensor_31         0.007262
sensor_32         0.030864
sensor_33         0.007262
sensor_34         0.007262
sensor_35         0.007262
sensor_36         0.007262
sensor_37         0.007262
sensor_38         0.012255
sensor_39         0.012255
sensor_40         0.012255
sensor_41         0.012255
sensor_42         0.012255
sensor_43         0.012255
sensor_44         0.012255
sensor_45         0.012255
sensor_46         0.012255
sensor_47         0.012255
sensor_48         0.012255
sensor_49         0.012255
sensor_51         6.982117
machine_status    0.000000
dtype: float64

Fill missing values dengan forward fill

In [35]:
df.fillna(inplace=True, method="ffill")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220320 entries, 0 to 220319
Data columns (total 51 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   sensor_00       220320 non-null  float64
 1   sensor_01       220320 non-null  float64
 2   sensor_02       220320 non-null  float64
 3   sensor_03       220320 non-null  float64
 4   sensor_04       220320 non-null  float64
 5   sensor_05       220320 non-null  float64
 6   sensor_06       220320 non-null  float64
 7   sensor_07       220320 non-null  float64
 8   sensor_08       220320 non-null  float64
 9   sensor_09       220320 non-null  float64
 10  sensor_10       220320 non-null  float64
 11  sensor_11       220320 non-null  float64
 12  sensor_12       220320 non-null  float64
 13  sensor_13       220320 non-null  float64
 14  sensor_14       220320 non-null  float64
 15  sensor_16       220320 non-null  float64
 16  sensor_17       220320 non-null  float64
 17  sensor_18       220320 non-null  float64
 18  sensor_19       220320 non-null  float64
 19  sensor_20       220320 non-null  float64
 20  sensor_21       220320 non-null  float64
 21  sensor_22       220320 non-null  float64
 22  sensor_23       220320 non-null  float64
 23  sensor_24       220320 non-null  float64
 24  sensor_25       220320 non-null  float64
 25  sensor_26       220320 non-null  float64
 26  sensor_27       220320 non-null  float64
 27  sensor_28       220320 non-null  float64
 28  sensor_29       220320 non-null  float64
 29  sensor_30       220320 non-null  float64
 30  sensor_31       220320 non-null  float64
 31  sensor_32       220320 non-null  float64
 32  sensor_33       220320 non-null  float64
 33  sensor_34       220320 non-null  float64
 34  sensor_35       220320 non-null  float64
 35  sensor_36       220320 non-null  float64
 36  sensor_37       220320 non-null  float64
 37  sensor_38       220320 non-null  float64
 38  sensor_39       220320 non-null  float64
 39  sensor_40       220320 non-null  float64
 40  sensor_41       220320 non-null  float64
 41  sensor_42       220320 non-null  float64
 42  sensor_43       220320 non-null  float64
 43  sensor_44       220320 non-null  float64
 44  sensor_45       220320 non-null  float64
 45  sensor_46       220320 non-null  float64
 46  sensor_47       220320 non-null  float64
 47  sensor_48       220320 non-null  float64
 48  sensor_49       220320 non-null  float64
 49  sensor_51       220320 non-null  float64
 50  machine_status  220320 non-null  object
dtypes: float64(50), object(1)
memory usage: 85.7+ MB